

<section id="container" class="container">
  <header>
    <h1>Skills</h1>
  </header>
  <article>
    <h2>Languages</h2>
    <p><strong>PHP</strong></p>
    <p><strong>SQL</strong></p>
    <p><strong>Javascript</strong></p>
    <p><strong>HTML5</strong></p>
    <p><strong>CSS3</strong></p>
    <p><strong>C#</strong></p>
    <p><strong>java</strong></p>
    
    <h2>Server / Tools</h2>
    <p><strong>Apache</strong></p>
    <p><strong>Ubuntu</strong></p>
    <p><strong>Firebird</strong></p>
    <p><strong>MySQL</strong></p>
    <p><strong>Git / SVN</strong></p>
    
    <h2>Libraries / Frameworks</h2>
    <p><strong>JQuery</strong></p>
    <p><strong>Bootstrap</strong></p>
    <p><strong>Wordpress</strong></p>
    <p><strong>AngularJS</strong></p>
    
  </article>

</section>